/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* my code*/


input.button { text-indent: -9000px; 
    text-transform: capitalize; 
    width: 80px;
    margin-left: 35%;
}

.main-wrapper {
	margin: 0 auto;
	width: 95%;
}

a {
    margin-right: 15px;
    text-decoration: none;
    background-color: #ccc;
}

a:hover {
    background-color: #ccc;
}

body {
    background-color: #ccc;
    
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}

header nav li {
    float: left;
    list-style: none;
}

header nav li a {
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
}

header .nav-login {
    float: right;
}

header .nav-login form {
    float: left;
    padding-top: 15px;
}

header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button {
    float: left;
    width: 65px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;

}

header .nav-login form button:hover {
    background-color: #ccc;
}

header .nav-login a {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    float: left;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    cursor: pointer;
}

.main-container {
    padding-top: 40px;
}

.main-container h2 {
    padding-top: 40px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 63px;
    text-align: center;
}

/* SIGNUP php*/

.signup-form {
    padding-left: 20%;
    display:inline-block;
    width: 400px;
    margin-right: 10px;
    padding-top: 30px;
}

.signup-form p {
    margin-bottom: 10px;
    font-family: arial;
    font-size: 24px;
    color: #111;
    text-align: center;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111;
}

/* ADD SONG php*/

.addsong-form {
    width: 400px;
    margin-right: 80%;
    display: inline-block;
    float: top;
}

.addsong-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.addsong-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.addsong-form button:hover {
    background-color: #111;
}

/* ADD Playlist php*/

.addplaylist-form {
    
    width: 400px;
    display: inline-block;
    float: top;
}

.addplaylist-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.addplaylist-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.addplaylist-form button:hover {
    background-color: #111;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px;
}

footer p.footer-style {
    font-size: 16px;
    font-family: arial;
}

footer a{
    background-color: #fff;
}

footer p span{
    float: right;
    margin-right: 30px;
}

.test {
    background-color: #f3f3f3;
    color: #111;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: arial;
    padding-top: 12px;
    margin-bottom: 15px;
    float: left;
    margin-top: 8px;
    text-align-last: center;
}

.logged-as {
    margin-right: 50px;
}


#myInput {
    margin-left: 16%;
    width: 13%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
}

#myInput1 {
    width: 13%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
}

#myInput2 {
    width: 13%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
}

#myInput3 {
    width: 13%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 10%;
    margin-left: 16%;  
    margin-top: 10px;
  
    /*display: inline-block;*/
}

#customers a {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    border: none;
    background-color: #ff0000;
    font-family: arial;
    font-size: 16px;
    color: #f2f2f2;
    cursor: pointer;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff0000;
    color: white;
}

/*edit playlist page - music table*/
#editPlaylistTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 0%;
    margin-bottom: 10%; 
    margin-top: 10px;
    display: inline-block;
    float: left;     
}

#editPlaylistTable td, #editPlaylistTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#editPlaylistTable tr:nth-child(even){background-color: #f2f2f2;}

#editPlaylistTable tr:hover {background-color: #ddd;}

#editPlaylistTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff0000;
    color: white;
}

#editPlaylistTable a {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    border: none;
    background-color: #ff0000;
    font-family: arial;
    font-size: 16px;
    color: #f2f2f2;
    cursor: pointer;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


 .odkaz-styl a {
    display: inline-block;
    margin-left: 28%;
    width: 150px;
    height: 50px;
    border: none;
    text-align: center;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 18px;
    color: #111;
    cursor: pointer;
}

.odkaz-styl a:hover {
    background-color: #ffcc99;
}